@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea {
    background-color: transparent;
}

.timer::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    background-color: #2e5aac;
    height: 3px;
    animation: alertLine 5s linear infinite alternate;
    border-radius: 10px;
    z-index: 9999;
}

@keyframes alertLine {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}